@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html {
  width: 100vw;
  margin: auto;
}

body {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f5f5f5;
}

p {
  margin: 0.9375rem 0;
  line-height: 1.625rem;
}

a {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  color: darkblue;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

.container {
  max-width: 100%;
  margin: auto;
}

.article-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-left: 0.625rem;
}

.article-card:hover .title {
  color: steelblue;
}

.post-title,
.article-post-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin: 0.625rem 0;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 2rem;
}

.post-container {
  max-width: 64rem;
  min-width: 18.75rem;
  margin: auto;
  padding: 0 0.625px;
}

.post-body ul,
ol {
  line-height: 1.625rem;
  margin: 0.625rem 3.125rem;
}

.post-body pre {
  background: #fff;
  padding: 1.25rem;
  margin: 1.25rem 0;
  line-height: 1.625rem;
}

.search::-webkit-scrollbar {
  width: 5px;
}

.search::-webkit-scrollbar-thumb {
  background: rgba(70, 130, 180, 0.2);
  border-radius: 5px;
}

.category-ul li {
  list-style-type: none;
}

#search {
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  background-position: 16rem;
  cursor: pointer;
  opacity: 0.7;
}

.active {
  background-color: steelblue;
  color: white !important;
}
